# Database Connection (MariaDB / MySQL)
DATABASE_URL="mysql://zyacbt:P45und4n@172.16.0.211:3306/zyacbt_modern"

# Redis Cache & Session Store
REDIS_URL="redis://:P45und4n@172.16.0.211:6379"

# JWT Secret Key for Session Authentication
JWT_SECRET="cbt-modern-super-secret-key-pasundan-2026"

# Next.js Public URL
NEXT_PUBLIC_APP_URL="http://172.16.0.210"
